@charset "TUF-8";

/*
CUSTOM PROPERTIES
================================================ */
:root {
    --color-accent: #4FB19D;
    --color-text: #333;
    --color-bg: #fff;
    --color-bg-accent: #EBEBDF;
    --color-border: #BCBCBC;
    --color-accent-sub-01: #9AC5E5;
    --color-accent-sub-02: #EDCE7A;
    --color-contrast01: #fff;
    --color-contrast02: #333;
}

/*
DESKTOP SIZE
================================================ */

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
    color: var(--color-text);
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

/*
COMMON
================================================ */
img {
    width: 100%;
    height: 100%;
}

*.__hover-accent:hover {
    color: var(--color-accent);
}
*.__hover-contrast02:hover {
    color: var(--color-contrast02);
}

/* Layout */
.section-wrap {
    padding: 5rem 0;
}
.section-inner {
    width: min(100% - 1rem, 1080px);
    margin-inline: auto;
}
.section-inner-s {
    width: min(100% - 1rem, 900px);
    margin-inline: auto;
}

/* title */
.logo {
    font-size: 2rem;
    font-weight: bold;
}

.section-ttl {
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-accent);
    position: relative;
}
.section-ttl.__concept::before {
    content: "コンセプト";
    color: var(--color-text);
    font-size: 1.25rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section-ttl.__menu::before {
    content: "メニュー";
    color: var(--color-text);
    font-size: 1.25rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section-ttl.__info::before {
    content: "お知らせ";
    color: var(--color-text);
    font-size: 1.25rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section-ttl.__access::before {
    content: "アクセス";
    color: var(--color-text);
    font-size: 1.25rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.content-ttl {
    font-size: 2rem;
    font-weight: bold;
}

/* nav */
.nav-list {
    display: flex;
}
.nav-item {
    transition: .3s;
}
.nav-item+.nav-item {
    margin-left: 2.5rem;
}

/* btn */
.btn {
    width: 180px;
    background: transparent;
    font-weight: bold;
    border: 1px solid var(--color-accent);
    border-radius: 9999px;
    text-align: center;
    margin: 3.75rem auto 0;
    transition: .3s;
}
.btn:hover {
    color: var(--color-contrast01);
    background: var(--color-contrast02);
    border: 1px solid var(--color-contrast02);
}
.btn-link {
    display: block;
    padding: .5rem;
}

/* pagination */
.page-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3.75rem;
}
.page-btn:not(:first-child) {
    margin-left: .5rem;
}
.page-btn {
    border: 2px solid var(--color-border);
    border-radius: 10px;
    transition: .3s;
}
.page-btn:hover {
    border: 2px solid transparent;
    background: var(--color-bg-accent);
    border-radius: 10px;
    transition: .3s;
}
.page-btn-link,
.page-btn.__current {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: .5rem 1rem;
}
.page-btn.__current {
    color: var(--color-contrast01);
    background: var(--color-accent);
}

/*
HEADER
================================================ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-contrast01);

    width: 90%;
    position: absolute;
    top: 40px;
    left: 5%;
    z-index: 100;
}

/*
KV
================================================ */
.kv {
    width: 100%;
    height: 768px;
    position: relative;
}

.kv.__index {
    background: linear-gradient(25deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),url(/img/index-kv.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.kv.__info {
    height: 600px;
    background: linear-gradient(25deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),url(/img/info-kv.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.kv-conceptcopy {
    color: var(--color-contrast01);
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kv-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kv-detail .section-ttl,
.kv-detail .section-ttl::before {
    color: var(--color-contrast01);
}

/*
CONSEPT
================================================ */
.concept-txt-main {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2.5rem;
}
.concept-txt-sub {
    text-align: center;
    margin-top: 1.5rem;
}

.concept-img-box {
    height: 350px;
    margin: 4rem 0;
}
.concept-img {
    object-fit: cover;
    object-position: center;
}

.concept-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.concept-content {
    width: 400px;
}
.concept-content-txt {
    margin-top: 2.5rem;
}
.concept-content-img-wrap {
    display: flex;
    width: 580px;
}
.concept-content-img-box {
    width: 280px;
    height: 390px;
}
.concept-content-img-box:nth-child(1) {
    margin-top: 3.75rem;
}
.concept-content-img-box:nth-child(2) {
    margin: 0 0 3.75rem 1.25rem;
}
.concept-content-img {
    object-fit: cover;
    border-radius: 10px;
}

/*
MENU
================================================ */
.menu {
    background: var(--color-bg-accent);
}
.menu.__detail {
    background: var(--color-bg);
}
.menu-wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 3.75rem;
}
.menu-wrap.__detail {
    margin-top: 0;
}

.menu-img {
    border-radius: 10px;
}
.menu-content {
    margin-top: 1rem;
}
.menu-txt {
    font-size: 1.25rem;
    font-weight: bold;
}
.menu-price {
    margin-top: .5rem;
}

/*
INFO
================================================ */
.info-item {
    border-bottom: 1px solid var(--color-border);
    margin-top: 2.5rem;
}

.info.__under {
    padding: 5rem 0;
}

.info.__under .info-item:first-child {
    margin-top: 0;
}

.info-tag {
    font-size: .75rem;
    padding: 0.25rem 0.5rem;
    margin-left: 1.5rem;
}
.info-tag.__orange {
    color: var(--color-accent-sub-01);
    border: 1px solid var(--color-accent-sub-01);
}
.info-tag.__red {
    color: var(--color-accent-sub-02);
    border: 1px solid var(--color-accent-sub-02);
}

.info-txt {
    font-weight: bold;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.info-link {
    transition: .3s;
}
.info-link:hover {
    opacity: .5;
}

/*
ACCESS
================================================ */
.access {
    background: var(--color-bg-accent);
}

.access-box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3.75rem;
}

.access-img-box {
    max-width: 512px;
    width: 100%;
    height: 300px;
}
.access-img {
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

.access-txt-box {
    margin-right: 3.75rem;
}
.access-txt:first-of-type {
    margin-top: 1rem;
}

/*
FOOTER
================================================ */
.footer {
    background: var(--color-accent);
    color: var(--color-contrast01);
    padding-top: 3.75rem;
}

.footer .logo {
    text-align: center;
}

.footer .nav-list,
.footer .icon-list {
    justify-content: center;
    margin-top: 2.5rem;
}

.copyright {
    text-align: center;
    padding: .5rem 0;
    margin-top: 3.75rem;
}

/*
TABLET SIZE
================================================ */
@media (max-width: 1024px) {
    
}

/*
SP SIZE
================================================ */
@media (max-width: 599px) {
    .logo {
        font-size: 1rem;
    }
    .section-ttl {
        font-size: 2.5rem;
    }
    .nav-item {
        font-size: .5rem;
    }
    .nav-item+.nav-item {
        margin-left: 1rem;
    }
    .kv-conceptcopy {
        font-size: 1rem;
    }
    .kv-detail .section-ttl {
        font-size: 2rem;
    }
    .concept-txt-main {
        font-size: 1.25rem;
    }
    .concept-wrap {
        flex-direction: column;
    }
    .concept-content-img-wrap {
        width: 100%;
    }
}
