@charset 'UTF-8';

/*
カスタムプロパティ
================================================ */
:root {
    --main-text: #592f2a;
    --main-color:#df9b42;
    --sub-color:#5c73b7;
    --bg: #fff;
    --sub-bg: #F7F9F9;
    --white: #fff;
    --gray: #ccc;
}

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
    color: var(--main-text);
    background: var(--bg);
    font-family: sans-serif;
}

/*
COMMON
================================================ */
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}

/* Layout */
.container,
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem;
    background: var(--bg);
}
.column {
    display: flex;
}

/* Heading */
.page-title {
    font-size: 3.75rem;
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-size: 1.5rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

/*
HEADER
================================================ */
.header-content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}
/* nav */
.info li {
    text-align: center;
    padding: 0 2rem;
    border-left: 1px dashed var(--main-text);
}
.info:last-child {
    border-right: 1px dashed var(--main-text);
}
.info a {
    width: auto;
}
.info a:hover,
.info .current {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: .3rem;
    background: none;
}
.global-nav {
    justify-content: space-between;
}
.global-nav a::before {
    display: block;
    margin-bottom: .5rem;
    font-family: 'Font Awesome 6 free';
    font-weight: 900;
    font-size: 1.25rem;
    text-align: center;
}
.global-nav .about::before {
    content: '\f549';
    color: var(--main-color);
}
.global-nav .concept::before {
    content: '\f118';
    color: #9fca99;
}
.global-nav .wish::before {
    content: '\f005';
    color: #FFD701;
}
.global-nav .support::before {
    content: '\f004';
    color: #d58d9b;
}
.global-nav .room::before {
    content: '\f53f';
    color: #8490c8;
}
.global-nav .blogtab::before {
    content: '\f5ac';
    color: #c5a3cb;
}

/*
SLIDER
================================================ */
.slider {
    width: 100%;
    margin: 0 auto;
}
.slider img {
    width: 780px;
    height: 480px;
    border-radius: 15px;
}
.slider .slick-slide {
    transform: scale(.98);
    transition: all .3s;
}
.slider .slick-slide .lick-center {
    transform: scale(1);
}
/* 矢印の設定 */
.slick-prev,
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    height: 18px;
    width: 18px;
    z-index: 1;
}
.slick-prev {
    left: 3%;
    transform: rotate(-135deg);
}
.slick-next {
    right: 3%;
    transform: rotate(45deg);
} 
/* ドットナビゲーションの設定 */
.slick-dots {
    text-align: center;
    margin: 20px 0;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots button {
    color: transparent;
    outline: none;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    border: 2px solid var(--main-text);
}
.slick-dots .slick-active button {
    border: 2px solid var(--main-color);
}

/*
GUIDE
================================================ */
/* 入園のご案内 */
.guide-text span {
    font-weight: bolder;
}
.guide-text {
    border: 2px solid var(--main-color);
    border-radius: 10px;
}
.guide-text:hover {
    background: rgba(233, 155, 66, .3);
}


/*
CONTAINER
================================================ */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

/*
BLOG
================================================ */
.blog {
    width: 60%;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1rem 0 3rem;
}
.content img {
    height: 160px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 rgba(238,232,228,1);
 
}
.content dl {
    margin-top: .5rem;
}
.content dt {
    font-size: .875rem;
}
.blog-btn {
    text-align: right;
}
.blog-btn a {
    width: auto;
    position: relative;
    padding: 0 3rem 0 2rem;
}
.blog-btn a:hover {
    color: var(--sub-color);
}
.blog-btn a::before {
    content: '';
    position: absolute;
    top: 24px;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--main-color);
    transition: all .3s;
}
.blog-btn a::after {
    content: '';
    position: absolute;
    top: 19px;
    right: 0px;
    width: 16px;
    height: 1px;
    background: var(--main-color);
    transform: rotate(35deg);
    transition: all .3s;
}
.blog-btn:hover a::before {
    right: -20px;
}
.blog-btn a:hover::after {
    right: -20px;
}
/*
ASIDE
================================================ */
aside {
    width: 30%;
}
.side-box {
    margin-bottom: 4rem;
}
.side-box a:hover {
    color: var(--sub-color);
}
.side-box dt {
    padding:1rem .25rem 0;
    font-size: .75rem;
}
.side-box dd {
    border-bottom: 1px solid var(--gray);
    padding: .25rem .25rem 1rem;
}

.side-btn {
    margin-top: 1.5rem;
    text-align: center;
}
.side-btn a {
    color: var(--white);
    display: inline-block;
    padding: 10px 20px;
    background: rgba(233, 155, 66, .5);
    box-shadow: 0 0 0 5px rgba(233, 155, 66, .5);
    border: 2px dashed var(--main-color);
    border-radius: 5px;
    transition: .3s;
}
.side-btn a:hover {
    color: var(--white);
    background: var(--main-color);
    box-shadow: 0 0 0 5px var(--main-color);
    border: 2px dashed var(--white);
}

/*
FOOTER
================================================ */
footer {
    padding-top: 1.5rem;
    border-top: 2px var(--main-color) solid;
}

/*
SP SIZE
================================================ */
@media (max-width: 1025px) {

/* Heading */
    .page-title {
    font-size: 1.3rem;
    }

/* HHEADER */
    .info {
        display: block;
        font-size: .785rem;
    }
    .info li {
        padding: 0 1rem;
    }
    .info a:hover,
    .info .current {
        border-bottom: 2px solid transparent;
    }

/* SLIDER */
    .slider img {
        width: 320px;
        height: 200px;
    }

/* CONTAINER */
    .container {
        display: block;
    }

    .blog .content {
        margin: 0 auto;
    }
    .blog {
        width: 100%;
        margin-bottom: 5rem;
    }
    aside {
        width: 100%;
    }

/* FOOTER */
    footer {
        font-size: .875rem;
    }

}
